html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

:focus {
  outline: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Vollkorn SC", serif;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button,
input {
  line-height: normal;
  font-family: "Vollkorn SC", serif;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  outline: none;
  background: none;
  border: none;
  font-size: 18px;
}

.btn {
  padding: 10px 40px;
  position: relative;
  transition: 0.5s;
  border-radius: 5px;
  overflow: hidden;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #000;
}
.btn:active {
  bottom: -1px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  background-color: #fff;
  border-radius: 10px;
}

.home {
  position: absolute;
  bottom: 20px;
  color: #fff;
  padding: 10px 15px;
  border: 2px solid #fff;
  border-radius: 10px;
}
.home:active {
  bottom: 19px;
}

body {
  font-size: 24px;
  background-color: #141414;
}

.header {
  min-height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-bottom: 2px solid #fff;
}

.title {
  font-size: 72px;
  color: #fff;
}

.container {
  max-width: 1700px;
  width: 100%;
  margin: 0 auto;
}

.main__inner {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.nav__list {
  display: flex;
  justify-content: center;
}

.nav__item {
  margin-right: 20px;
}
.nav__item:last-child {
  margin-right: 0;
}

.nav__btn {
  color: #fff;
  border-color: #fff;
}

.cards {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  max-width: 450px;
  width: 100%;
  height: 220px;
  background-color: #fff;
  border-radius: 10px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;
  color: #000;
}
.card:hover {
  box-shadow: 0 20px 10px #000;
}

.hidden {
  width: 0;
  height: 0;
  transform: scale(0.5);
}

.card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40px;
  font-weight: 700;
}

.card__header-js {
  background-color: #F0DB4F;
}

.card__header-html {
  background-color: #FF8C00;
}

.card__number {
  padding-left: 10px;
}

.card__category {
  padding-right: 10px;
}

.card__title {
  font-weight: 700;
  font-size: 30px;
}

.card__btn {
  margin-bottom: 10px;
}

@media (max-width: 550px) {
  button {
    font-size: 14px;
  }

  .btn {
    padding: 10px 20px;
  }

  .nav__item {
    margin-right: 10px;
  }

  .header {
    min-height: 80px;
  }

  .title {
    font-size: 50px;
  }
}
@media (max-width: 375px) {
  .nav__btn {
    padding: 5px 15px;
  }
}