@media(max-width: 550px) {
    button {
        font-size: 14px;
    }
    .btn {
        padding: 10px 20px;
    }
    .nav__item {
        margin-right: 10px;
    }
    .header {
        min-height: 80px;
    }
    .title {
        font-size: 50px;
    }
}