@import './reset';

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    outline: none;
    background: none;
    border: none;
    font-size: 18px;
}

.btn {
    padding: 10px 40px;
    position: relative;
    transition: 0.5s;
    border-radius: 5px;
    overflow: hidden;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #000;

    &:active {
        bottom: -1px;
    }
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px; 
    background-color: #fff;   
    border-radius: 10px;
}

.home {
    position: absolute;
    bottom: 20px;
    color: #fff;
    padding: 10px 15px;
    border: 2px solid #fff;
    border-radius: 10px;

    &:active {
        bottom: 19px;
    }
}

body {
    font-size: 24px;
    background-color: #141414;
}

.header {
    min-height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 2px solid #fff;
}

.title {
    font-size: 72px;
    color: #fff;
}

.container {
    max-width: 1700px;
    width: 100%;
    margin: 0 auto;
}

.main__inner {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.nav__list {
    display: flex;
    justify-content: center;
}

.nav__item {
    margin-right: 20px;

    &:last-child {
        margin-right: 0;
    }
}

.nav__btn {
    color: #fff;
    border-color: #fff;
}

.cards {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    max-width: 450px;
    width: 100%;
    height: 220px;
    background-color: #fff;
    border-radius: 10px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    transition: .5s ;  
    color: #000;

    &:hover {
        box-shadow: 0 20px 10px #000;
    }
}

.hidden {
    width: 0;
    height: 0;
    transform: scale(0.5);
}

.card__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
    font-weight: 700;
}

.card__header-js {
    background-color: #F0DB4F;
}

.card__header-html {
    background-color: #FF8C00;
}

.card__number {
    padding-left: 10px;
}

.card__category {
    padding-right: 10px;
}

.card__title {
    font-weight: 700;
    font-size: 30px;
}

.card__btn {
    margin-bottom: 10px;
}

@import './media';