@import 'vars.scss';
@import 'reset.scss';

::-webkit-scrollbar {
    background-color: #f5f5f5;
    width: 10px;
    margin-right: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: #95e1d3;
    border-radius: 10px;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.section__header-suptitle {
    font-family: $kaushan-family;
    font-size: 24px;
    text-align: center;
}

.section__header-title {
    color: #333333;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 40px;
    position: relative;
    text-align: center;
    margin: 25px 0 50px;
    
    &::before {
        position: absolute;
        content: '';
        width: 60px;
        height: 3px;
        background-color: #f38181;
        bottom: 0;
        left: 50%;
        margin-left: -30px;
    }
}

.section__header-subtitle {
    font-family: $roboto-family;
    color: #999999;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    max-width: 950px;
    margin: 0 auto;
    text-align: center;
}

// Slider start

.slider{
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider__track {
    width: 980px;
    display: flex;
    overflow: hidden;
}

.slider__item {
    min-width: 980px;
    display: flex;
    align-items: center;
    transition: 0.5s;
}

.slider__img {
    margin-right: 30px;
}

.slider__text {
    max-width: 770px;
    color: #999999;
    font-size: 24px;
    font-style: italic;
    line-height: 36px;
    margin-bottom: 20px;
}

.slider__name {
    padding-left: 70px;
    color: #333333;
    font-size: 24px;
    font-family: $kaushan-family;
    position: relative;

    &::before {
        position: absolute;
        content: '';
        width: 60px;
        height: 3px;
        background-color: #f38181;
        left: 0;
        top: 50%;
        margin-top: -1.5px;
    }
}

.button__prev {
    transform: rotate(90deg);
    margin-right: 75px;
}

.button__next {
    transform: rotate(-90deg);
    margin-left: 75px;
}

// Slider end

// Header start

.header {
    position: absolute;
    left: 0;
    right: 0;
    padding: 30px 10px;
    transition: 0.5s;
}

.header_active {
    position: fixed;
    padding: 15px 10px;
    background-color: #f38181;
    z-index: 1;

    .header__nav-link {

        &::before {
            bottom: -12px;
        }

        &:hover {

            &::before {
                bottom: -5px;
            }
        }
    }
    .header__nav-link_active {
    
        &::before {
            bottom: -5px;
            opacity: 1;
        }
    }
}

.header__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
}

.header__logo-link {
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
    transition: 0.5s;

    &:hover {
        color: #fce38a;
    }
}

.header__nav-list {
    display: flex;
}

.header__nav-item {
    margin-right: 55px;

    &:last-child {
        margin-right: 0;
    }
}

.header__nav-link {
    font-size: 14px;
    font-weight: 400;
    position: relative;
    color: #ffffff;
    text-transform: uppercase;
    transition: 0.5s;

    &::before {
        position: absolute;
        content: '';
        bottom: -20px;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: #fce38a;
        opacity: 0;
        transition: 0.5s;
    }

    &:hover {
        color: #fce38a;

        &::before {
            bottom: -12px;
            opacity: 1;
        }
    }
}

.header__nav-link_active {
    color: #fce38a;

    &::before {
        bottom: -12px;
        opacity: 1;
    }
}

.header_open {
    position: fixed;
    height: 100vh;
    z-index: 1;
    background-color: #f38181;
    display: flex;
    justify-content: center;
    align-items: center;

    .header__wrap {
        flex-direction: column;
    }
    .header__nav-list {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .header__nav-item {
        margin-top: 30px;
        margin-right: 0;
    }
    .menu {
        top: 25px;
    }
}

.menu {
    position: absolute;
    right: 10px;
    width: 30px;
    height: 30px;
    display: none;
    align-items: center;
    justify-content: center;

    span {
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: #95e1d3;
        border-radius: 10px;
        transition: 0.5s;

        &::before, &::after {
            position: absolute;
            content: '';
            width: 100%;
            height: 4px;
            background-color: #95e1d3;
            left: 0;
            border-radius: 10px;
            transition: 0.5s;
        }
        &::before {
            top: -10px;
        }
        &::after {
            bottom: -10px;
        }
    }
    &:hover {

        span {
            background-color: #fce38a;

            &::before, &::after {
                background-color: #fce38a;
            }
        }
    }
}

.menu_open {

    span {
        background-color: transparent;
        
        &::before, &::after {
            top: 0;
            transform: scale(1);
        }
        &::before {
            transform: rotate(45deg);
        }
        &::after {
            transform: rotate(-45deg);
        }
    }
    &:hover {

        span {
            background-color: transparent;

            &::before, &::after {
                background-color: #fce38a;
            }
        }
    }
}

// Header end

// Intro start

.intro {
    min-height: 100vh;
    background-color: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
    background:  url(../images/intro-bg.webp) no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 90px 0 30px;
}

.intro__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    text-align: center;
}

.intro__suptitle {
    font-family: $kaushan-family;
    font-size: 72px;
    font-weight: 400;
}

.intro__title {
    font-size: 150px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    max-width: 860px;
    margin: 40px 0 70px;
    position: relative;
    padding-bottom: 70px;

    &::before {
        position: absolute;
        content: '';
        width: 60px;
        height: 3px;
        background-color: #fff;
        bottom: 0;
        right: 50%;
        margin-right: -30px;
    }
}

.intro__button {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    padding: 12px 40px;
    border: 3px solid #ffffff;
    color: #ffffff;
    transition: 0.5s;

    &:hover {
        background-color: #fce38a;
    }
}

// Intro end

// About start

.about {
    margin-top: 90px;
}

.about__wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 15px;
}

.about__photo {
    margin-top: 90px;
    display: flex;
}   

.about__photo-img {
    margin-right: 30px;
    cursor: pointer;
    position: relative;
    display: flex;
    height: 250px;
    transition: 0.5s;

    &:last-child {
        margin-right: 0;
    }
    &:hover {    
        transform: translate(-10px, -10px);

        .about__photo-bg {
            transform: translate(10px, 10px);
        }
        .about__photo-content {
            opacity: 1;
        }
    }
}

.about__photo-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    opacity: 0;
    transition: 0.5s;

    &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
    }

    img {
        z-index: 1;
    }
}

.about__photo-text {
    font-weight: 700;
    font-size: 18px;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 10px;
    z-index: 1;
}

.about__photo-bg {
    max-width: 380px;
    width: 100%;
    height: 250px;
    background-color: #95e1d3;
    position: absolute;
    z-index: -1;
    transition: 0.5s;
}

.facts {
    margin-top: 110px;
    background-color: #95e1d3;
}

.facts__cards {
    display: flex;
    justify-content: center;
}

.facts__card {
    max-width: 240px;
    width: 100%;
    text-align: center;
    padding: 90px 0;
    position: relative;

    &:first-child {

        &::after {
            position: absolute;
            content: '';
            width: 1px;
            height: 100%;
            top: 0;
            background-color: #ffffff;
            opacity: 0.3;
            left: 0;
        }
    }
    &::before {
        position: absolute;
        content: '';
        width: 1px;
        height: 100%;
        top: 0;
        background-color: #ffffff;
        opacity: 0.3;

    }
    &::before {
        right: 0;
    }
}

.facts__card-number {
    color: #ffffff;
    font-size: 72px;
    font-weight: 700;
    text-transform: uppercase;
}

.facts__card-subtitle {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 30px;
}

// About end

// Services start

.services {
    margin-top: 110px;
}

.services__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.services__card {
    display: flex;
    margin: 0 5px 100px;
}

.services__card-img {
    margin-right: 28px;
}

.services__card-title {
    color: #333333;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.services__card-subtitle {
    max-width: 270px;
    color: #999999;
    font-family: $roboto-family;
    font-size: 15px;
    line-height: 24px;
    margin-top: 10px;
}

// Services end

// Devices start

.devices {
    min-height: 100vh;
    background: url(../images/devices-bg.webp) no-repeat center center;
    background-size: cover;
    padding-top: 110px;
    position: relative;
}

.section__header-devices {
    padding-bottom: 580px;
}

.devices__img {
    position: absolute;
    bottom: 0;
}

.devices__img-ipad {
    max-width: 488px;
    width: 100%;
    left: 50%;
    margin-left: -244px;
}

.devices__img-iphon {
    max-width: 250px;
    width: 100%;
    height: 350px;
    bottom: 0;
    left: 57%;
}

// Devices end

// We-do start

.wedo {
    margin-top: 110px;
}

.wedo__wrap {
    display: flex;
    margin-top: 90px;
    padding: 0 10px;
}

.wedo__img {
    margin-right: 30px;
}

.wedo__accordion-item {
    max-width: 600px;
    width: 100%;
    margin-bottom: 10px;

    &:last-child {
        margin-bottom: 0;
    }
}

.wedo__accordion-item_active {

    .wedo__accordion-header {

        .wedo__accordion-arrow {
            transform: rotate(180deg);
        }
    }
    .wedo__accordion-content {
        height: 180px;
        font-size: 15px;
        padding: 15px;
        opacity: 1;
    }
}

.wedo__accordion-header {
    max-width: 600px;
    border: 1px solid #e5e5e5;
    display: flex;
    align-items: center;
    padding: 8px 16px;
    position: relative;
    cursor: pointer;
}

.wedo__accordion-title {
    margin-left: 15px;
    color: #333333;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.wedo__accordion-arrow {
    position: absolute;
    right: 20px;
}

.wedo__accordion-content {
    font-family: $roboto-family;
    font-style: italic;
    font-weight: 300;
    color: #999999;
    line-height: 24px;
    height: 0;
    border: 1px solid #e5e5e5;
    padding: 0;
    overflow-y: scroll;
}

.wedo__accordion-content::-webkit-scrollbar {
    width: 5px;
}

.wedo__slider {
    background-color: #f8f8f8;
    margin-top: 120px;
}

.wedo__slider-track {
    padding: 70px 0;
}

.wedo__slider-img {
    padding: 45px;
    border: 3px solid #95e1d3;
}

// We-do end

// Team start

.team {
    margin-top: 100px;
}

.team__wrap {
    padding: 0 10px;
}

.team__cards {
    margin-top: 80px;
    display: flex;
}

.team__card {
    margin-right: 30px;

    &:last-child {
        margin-right: 0;
    }
}

.team__card-img {
    position: relative;
    transition: 0.5s;

    &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
        opacity: 0;
        transition: 0.5s;
    }

    &:hover {
        transform: translate(-10px, -10px);

        &::before {
            opacity: 1;
        } 
        .team__card-bg {
            transform: translate(10px, 10px);
        }
        .team__card-social {
            opacity: 1;
        }
    }
}

.team__card-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.team__card-social {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s;
}

.team__card-social-link {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #fce38a;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: 0.5s;

    &::before {
        position: absolute;
        content: '';
        width: 1px;
        height: 100%;
        top: 0;
        right: 0;
        background-color: #f38181;
    }
    &:last-child {

        &::before {
            background-color: transparent;
        }
    }

    svg {

        path {
            fill: #f38181;
            transition: 0.5s;
        }
    }
    &:hover {
        background-color: #f38181;

        svg {

            path {
                fill: #fff;
                transition: 0.5s;
            }
        }
    }
}

.team__card-bg {
    max-width: 380px;
    width: 100%;
    max-height: 470px;
    height: 100%;
    background-color: #95e1d3;
    position: absolute;
    top: 0;
    z-index: -1;
    transition: 0.5s;
}

.team__card-name {
    margin: 15px 0 10px;
    color: #333333;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.team__card-profession {
    color: #999999;
    font-size: 15px;
    font-family: $roboto-family;
    font-style: italic;
    text-align: center;
}

.team__logos {
    display: flex;
    margin-top: 120px;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 10px;
}

.team__logo {
    margin-right: 90px;

    &:last-child {
        margin-right: 0;
    }
}

// Team end

// Works start

.works {
    margin-top: 110px;
}

.works__cards {
    display: flex;
    margin-top: 100px;
}

.works__card-img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
        position: absolute;
        content: '';
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
        opacity: 0;
        transition: 0.5s;
    }

    &:hover {

        &::before {
            opacity: 1;
        }
        .wrork__card-content {
            opacity: 1;
        }
    }
}

.wrork__card-content {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s;
    color: #ffffff;
}

.works__card-title {
    font-size: 14px;
    text-transform: uppercase;
    margin: 15px 0;
}

.works__card-subtitle {
    font-size: 15px;
    font-family: $roboto-family;
    font-style: italic;
    line-height: 24px;
}

.works__slider {
    margin-top: 100px;
}

// Works end

// Clients start

.clients {
    margin-top: 130px;
    min-height: 100vh;
    background: url(../images/clients-bg.webp) no-repeat center center;
    background-size: cover;
    padding: 110px 10px 0;
}

.clients__cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 130px;
}

.clients__card {
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}

.clients__card-img {
    margin-right: 30px;
}

.clients__card-content {
    max-width: 370px;
}

.clients__card-name {
    color: #333333;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
}

.clients__card-profession {
    color: #333333;
    font-family: $roboto-family;
    font-style: italic;
    font-size: 15px;
    line-height: 24px;
    margin: 15px 0 35px;
    position: relative;

    &::before {
        position: absolute;
        content: ''; 
        width: 60px;
        height: 3px;
        background-color: #f38181;
        bottom: -15px;
    }
}

.clients__card-text {
    color: #999999;
    font-size: 15px;
    line-height: 24px;
    font-family: $roboto-family;
}

// Clients end

// Blog start

.blog {
    margin-top: 110px;
    padding: 0 15px;
}

.blog__cards {
    display: flex;
}

.blog__card {
    max-width: 380px;
    width: 100%;
    margin-right: 30px;

    &:last-child {
        margin-right: 0;
    }
}

.blog__card-img {
    position: relative;
}

.blog__card-date {
    position: absolute;
    bottom: 10px;
    left: -10px;
    color: #ffffff;
    padding: 15px;
    background-color: #95e1d3;
}

.blog__card-day {
    font-size: 30px;
    font-weight: 700;
}

.blog__card-month {
    font-size: 15px;
    font-family: $roboto-family;
    font-style: italic;
}

.blog__card-title {
    display: inline-block;
    color: #333333;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 20px 0;
    transition: .5s;

    &:hover {
        color: #f38181;
    }
}

.blog__card-subtitle {
    font-family: $roboto-family;
    font-size: 15px;
    line-height: 24px;
    color: #999999;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #e5e5e5;
}

.blog__card-wrap {
    display: flex;
    font-family: $roboto-family;
    font-style: italic;
    font-size: 15px;
    line-height: 24px;
    color: #999999;
}

.blog__card-views {
    margin-right: 20px;
}

.views-count {
    margin-left: 5px;
}

.comments-count {
    margin-left: 5px;
}

// Blog end

// Map start

.map {
    margin-top: 120px;
    min-height: 200px;
    background: url(../images/map-bg.webp);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.map__title {
    color: #f38181;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 18px;
    position: relative;
    padding-bottom: 20px;

    &::before {
        position: absolute;
        content: '';
        width: 60px;
        height: 3px;
        background-color: #f38181;
        bottom: 0;
        left: 50%;
        margin-left: -30px;
    }
}

//Map end

// Footer start

.footer {
    margin-top: 80px;
    padding: 0 10px 70px;
}

.footer__cards {
    display: flex;
    justify-content: space-between;
}

.footer__card {
    margin-right: 30px;

    &:last-child {
        margin-right: 0;
    }
}

.footer__card-logo {
    color: #cccccc;
    font-size: 46px;
    font-weight: 700;
}

.footer__card-subtitle {
    color: #999999;
    font-family: $roboto-family;
    font-size: 15px;
    line-height: 24px;
    margin: 40px 0 50px;
    max-width: 460px;
}

.footer__card-header {
    font-size: 14px;
    color: #333333;

    b {
        font-weight: 700;
        font-size: 18px;
    }
}

.footer__card-content {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-family: $roboto-family;
    font-style: italic; 
    margin: 20px 0 30px;
    padding-top: 15px;
    border-top: 1px solid #e5e5e5;
}

.footer__card-link {
    margin-right: 15px;

    &:first-child {
        margin-left: 20px;
    }
    &:last-child {
        margin-right: 0;
    }

    svg {
        width: 18px;
        height: 18px;

        path {
            fill: #95e1d3;
            transition: 0.5s;
        }
    }

    &:hover {

        path {
            fill: #f38181;
        }
    }
}

.subscribe__info {
    display: flex;
}

.subscribe__field {
    max-width: 230px;
    width: 100%;
    padding: 10px 0 10px 10px;
    font-family: $roboto-family;
    font-style: italic;
    font-size: 15px;
    border: 1px solid #e7e7e7;

    &::placeholder {
        font-family: $roboto-family;
        font-style: italic;
        font-size: 15px;
        line-height: 24px;
        color: #cccccc;
    }
}

.subscribe__submit {
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 14px 35px;
    background-color: #95e1d3;
    transition: 0.5s;

    &:hover {
        background-color: #f38181;
    }
}

.footer__card-title {
    color: #333333;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 40px;
    padding-top: 15px;
}

.footer__blog {
    display: flex;
    align-items: center;
    margin-bottom: 30px;

    &:last-child {
        margin-bottom: 0;
    }
    &:hover {

        .footer__blog-text {
            color: #f38181;
        }
    }
}

.footer__blog-img {
    margin-right: 20px;
}

.footer__blog-text {
    max-width: 190px;
    color: #333333;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    transition: 0.5s;
}

.footer__blog-date {
    color: #999999;
    font-family: $roboto-family;
    font-style: italic;
    font-size: 13px;
    line-height: 24px;
}

.footer__cards-inst {
    display: flex;
    justify-content: space-between;
    max-width: 280px;
}

.footer__card-img {
    margin: 2px;

    img {
        transition: 0.5s;
        
        &:hover {
            transform: scale(1.05);
        }
    }
}

.footer__card-link {
    display: inline-block;
    margin-top: 20px;
    font-family: $roboto-family;
    font-style: italic;
    font-size: 13px;
    color: #333333;
    line-height: 24px;
    transition: 0.5s;

    &:hover {
        color: #f38181;
    }
}

// Footer end

@media (max-width: 1260px) {

    .slider__track  {
        width: 840px;
    }
    .slider__item {
        min-width: 840px;
        justify-content: center;
    }
    .wedo__slider-img {
        padding: 25px;

        img {
            width: 40px;
            height: 40px;
        }
    }
    .slider__text {
        font-size: 18px;
        line-height: 18px;
        max-width: 600px;
    }
    .button__prev {
        margin-right: 20px;
    }
    .button__next {
        margin-left: 20px;
    }
}

@media (max-width: 1039px) {
    .clients__cards {
        justify-content: center;
    }
}

@media (max-width: 1024px) {

    .intro__suptitle {
        font-size: 58px;
    }
    .intro__title {
        font-size: 100px;
        margin-bottom: 30px;
    }
    .about__photo-img {
        margin-right: 20px;
        max-height: 200px;
    }
    .about__photo-bg {
        height: 200px;
    }
    .facts__card {
        padding: 60px 0;
    }
    .facts__card-number {
        font-size: 60px;
    }
    .services__cards {
        justify-content: center;
    }
    .slider__track  {
        width: 740px;
    }
    .slider__item {
        min-width: 740px;
    }
    .slider__text {
        font-size: 16px;
        line-height: 16px;
        max-width: 600px;
        margin-bottom: 10px;
    }
    .slider__name {
        font-size: 18px;
        padding-left: 40px;

        &::before {
            width: 30px;
            height: 2px;
        }
    }
    .team__logo {
        margin-right: 40px;
    }
    .footer__card-subtitle {
        max-width: 400px;
        font-size: 14px;
    }
    .subscribe__field {
        max-width: 180px;
    }
    .footer__blog-img {
        margin-right: 0;
    }
    .footer__blog-content {
        text-align: center;
    }
    .footer__blog-text {
        margin-top: 5px;
        font-weight: 400;
        line-height: 12px;
        text-transform: lowercase;
    }
}

@media (max-width: 840px) {

    .header__nav {
        display: none;
    }
    .menu {
        display: flex;
    }
    .header_open {

        .header__nav {
            display: flex;
        }
    }
    .slider__track  {
        width: 640px;
    }
    .slider__item {
        min-width: 640px;
        justify-content: flex-start;
    }
    .slider__text {
        font-size: 14px;
        line-height: 14px;
        max-width: 400px;
    }
    .slider__name {
        font-size: 18px;
        padding-left: 40px;

        &::before {
            width: 30px;
            height: 2px;
        }
    }
    .works__slider-img {

        img {
            width: 100px;
        }
    }
}

@media (max-width: 768px) {

    .intro__suptitle {
        font-size: 40px;
    }
    .intro__title {
        font-size: 60px;
        max-width: 520px;
    }
    .about__photo-img {
        max-height: 250px;
        margin: 10px 0;
    }
    .about__photo-bg {
        height: 250px;
    }
    .about__photo {
        flex-direction: column;
    }
    .wedo__img {
        display: none;
    }
    .wedo__wrap {
        justify-content: center;
    }
    .footer__cards {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
    .footer__card {
        margin-right: 10px;        
    }
    .footer__card-content {
        justify-content: center;
    }
    .subscribe__info {
        justify-content: center;
    }
    .blog__cards {
        flex-direction: column;
        align-items: center;
    }
    .blog__card {
        margin-bottom: 20px;
        margin-right: 0;

        &:last-child {
            margin-bottom: 0;
        }
    }
    .team__cards {
        flex-direction: column;
        align-items: center;
    }
    .team__card {
        margin-bottom: 20px;
        margin-right: 0;

        &:last-child {
            margin-bottom: 0;
        }
    }
    .works__cards {
        flex-direction: column;
    }
    .works__card {
        display: flex;
        justify-content: center;

        &:nth-child(3) {
            width: 100%;
            position: relative;
            height: 780px;
            background: url(../images/work/05.webp) no-repeat center center;
            background-size: cover;
            
            .works__card-img {
                position: absolute;
                bottom: 0;
                top: 0;
                left: 0;
                right: 0;

                img {
                    display: none;
                }
                .wrork__card-content {
                    img {
                        display: block;
                    }
                }
            }
        }
    }
}

@media (max-width: 670px) {
    
    .devices__img-ipad {
        max-width: 360px;
        margin-left: -180px;
    }
    .devices__img-iphon {
        max-width: 150px;
        height: 200px;
    }
}

@media (max-width: 620px) {

    .slider__track  {
        width: 440px;
    }
    .slider__item {
        min-width: 440px;
        justify-content: flex-start;
    }
    .slider__img  {
        margin-right: 10px;
    }
    .slider__text {
        font-size: 14px;
        line-height: 14px;
        max-width: 300px;
    }
    .wedo__slider-img {
        padding: 15px;
        border: 2px solid #95e1d3;

        img {
            width: 15px;
            height: 15px;
        }
    }
    .works__slider-img {

        img {
            width: 50px;
        }
    }
}
