body {
  padding: 10px 0 0 10px;
}

.output {
  margin: 0;
  padding: 0;
  list-style: none;
}
.output li {
  margin: 10px 0;
}

.prompt {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}
.prompt::before {
  content: "> ";
}
.prompt input {
  display: block;
  outline: none;
  border: none;
  background-color: transparent;
  padding: 1rem 0.5rem;
  font-size: inherit;
  font-family: "Consolas", monospace;
  position: relative;
}