body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.wrapper {
    max-width: 600px;
    width: 100%;
    flex-direction: column;
    padding: 20px 10px;
}

.buttons {
    display: flex;
    margin-top: 15px;
}

.btn {
    margin-right: 10px;

    &:last-child {
        margin-right: 0;
    }
}