body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
} 

span {
    position: absolute;
    border-radius: 100%;
    animation: animate 4s linear infinite;
}

@keyframes animate {
    0% {
        transform: scale(0) translate(0);
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        transform: scale(1) translate(-500%, -500%);
        opacity: 0;
    }
}