body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.wrapper {
    flex-direction: column;
}

.tabs__nav {
    display: flex;
    margin: 5px;
}

.tab__nav-btn {
    transition: 0.5s;
}

.tab__nav-btn_active {
    background-color: #e4e4e4;
}

.tabs__content {
    margin: 10px;
}

.tab__content {
    height: 0;
    visibility: hidden;
}

.tab__nav-btn {
    margin: 5px;
}

.tab__content_active {
    height: auto;
    visibility: visible;
}
