body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
}

.content {
  max-width: 400px;
  padding: 10px 15px;
  border: 2px solid #CEDDEC;
  border-radius: 10px;
  text-align: center;
  margin: 0 20px;
}

.text {
  margin-bottom: 20px;
}

.button__open {
  border: 2px solid #CEDDEC;
  border-radius: 10px;
  padding: 5px 35px;
  transition: 0.5s;
}
.button__open:hover {
  background-color: #CEDDEC;
  color: #262833;
}

.modal {
  padding: 0 20px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  transition: 0.5s;
}

.modal_active {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.modal__content {
  max-width: 600px;
  padding: 10px 30px;
  background-color: #CEDDEC;
  color: #262833;
  border-radius: 10px;
  text-align: center;
  z-index: 1;
}

.modal__text {
  margin-bottom: 20px;
}

.button__close {
  border: 2px solid #262833;
  color: #262833;
  border-radius: 10px;
  padding: 5px 35px;
  transition: 0.5s;
}
.button__close:hover {
  background-color: #262833;
  color: #CEDDEC;
}

@media (max-width: 425px) {
  .modal__text {
    font-size: 18px;
  }
}